/*-------- global --------*/
body {
	background-color: rgba(48,79,254,0.1);
	font-family: 'Mountains of Christmas', cursive;
	font-size: 1.3em;
	color: #444444;
	height: 100%;
}
.container {
	margin: 50px;
}

.chrismas__auth {
	display: flex;
	width: 100%;
	height: 600px;
	justify-content: center;
	align-items: center;
}

/*-------- flex container --------*/
.flex-container {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-flex-flow: row wrap;
	position: relative;
}
.flex-item {
	color: #444444;
	height: 210px;
	margin: 10px 0;
	padding: 0;
	width: 460px;
	position: relative;
}
.flex-item-inner {
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 210px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 558px;
	
}

/*-------- cards --------*/
.card-front,
.card-back {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	margin: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.6s;
	justify-content: flex-end;
	background-color: #fff;
	width: 100%;
	border-radius: 8px;
	background-color: #FFFFFF;	
	box-shadow: 0 13px 25px 0 rgba(48,79,254,0.1);
	height: 620px;
}

.card-front {
	color: #000;
}

.card-front i.tile-icon {
	display: block;
	margin: 10px auto 20px auto;
	text-align: center;
}

.card-front h4 {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0;
}
.card-front p.detail {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.card-back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	
}
.card-back p.title {
	color: #000;
	margin-top: 0;
}
.card-back p.desc {
	color: #63666a;
}

/*-------- cards / flip effect --------*/
.flex-item:hover .card-front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flex-item:hover .card-back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

/** Text **/

.title {
	font-weight: bold;
	font-size: 1.6em;
}

.quotes {
	font-size: 75px;
    line-height: 20px;
    margin-top: 20px;
}

.quotes--last {
	text-align: right;
	padding-right: 30px;
} 

/** form **/

.chrismas-list__area {
	width: 100%;
	height: 170px;
}

.chrismas-list__btn {
    height: 45px;
    position: relative;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    border: 1px solid #3D5AFE;
    border-radius: 25px;
    background-color: #3D5AFE;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding: 12px 45px;
    cursor: pointer;
}

/** Card Image **/

.card__image {
	display: block;
	width: 300px;
	margin: 0 auto;
}

.card__image 


.plan-container {
	position: relative;
}

/** Day 2 **/
.card-2 .card__image {
	width: 500px;
    margin: 0 -20px;;
}

.card-2 .card-front,
.card-2 .card-back {
	overflow: hidden;
	height: 640px;
}
